.scrollbar{
    cursor:n-resize;
    position:absolute;
    overflow:auto;
    top:0px;
    right:0px;
    z-index:2;
    background:#444;
    width:17px;
    border-radius:8px;

  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  * {
    scrollbar-width: none;
  }
  
  .parent{
    position:relative;
    overflow:hidden;
    height:99%;
    width:100%;
    background:#ddd;
  }
  
  #scroll-up-button, #scroll-down-button {
    position: absolute;
    top: -1px;
    height: 20px;
    left: -5.5px;
  }
  
  #scroll-down-button {
    top: auto;
    bottom: -1.5px;
    left: -5.5px;
  }